.navbar {
  background-color: #1f1b24;
}

nav {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

nav img {
  width: 100%;
  max-width: 125px;
}

nav input {
  width: 100%;
  max-width: 325px;
  height: 30px;
  font-size: 1.1rem;
  font-weight: lighter;
  border: none;
  background-color: #2c2633;
  color: white;
  border-radius: 15px;
  border: 1px solid #2c2633;
  padding: 5px 15px;
}

nav input:hover {
  border: 1px solid gray;
  cursor: pointer;
}

nav input:focus {
  outline: none;
  border: 2px solid gray;
}

nav div {
  display: flex;
  align-items: center;
}

nav div .logout-icon {
  border-radius: 50px;
  margin-left: 20px;
  color: white;
  padding: 10px;
}

@media (max-width: 450px) {
  nav {
    flex-direction: column;
  }

  nav img {
    padding-bottom: 10px;
  }

  nav input {
    margin-bottom: 20px;
  }
}
