.post {
    display: flex;
    border: 1px solid #2c2633;
    padding: 10px;
    background: #1f1b24;
}

.post .wrapper {
    margin: 0;
    min-width: 0;
    margin-left: 10px;
    width: 100%;
}

.post p {
    min-width: 0;
    color: white;
    text-align: left;
    word-wrap: break-word;
    margin: 0;
    margin-top: 5px;
}

.post .top-portion {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.post .separator {
    margin: 0 5px 0 5px;
    color: gray;
}

.post .date {
    color: gray;
}

.post div .username:before {
    content: "@";
}

.post div .username:hover {
    color: dodgerblue;
    cursor: pointer;
}

.post .bottom-portion {
    width: fit-content;
    margin-top: 6px;
    display: flex;
}

.post .comment-icon {
    margin-left: 10px;
    width: 20px
}

.post .like-counter {
    margin-left: 5px;
}

.post .dot-icon {
    margin-left: auto;
    cursor: pointer;
}

.post textarea {
    background: #1f1b24;
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 25px 25px 15px 25px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-end;
}

.post textarea {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 35px;
    font-size: 1.1rem;
    text-align: left;
    background-color: #2c2633;
    resize: none;
    color: white;
    border: 1px solid #2c2633;
    padding: 5px;
}

.post textarea:hover {
    border: 1px solid gray;
    cursor: pointer;
}

.post textarea:focus {
    outline: none;
    border: 1px solid gray;
}

.post .is-edited {
    font-size: 10px;
    color: deepskyblue;
}

.post .is-edited:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post .previous-edit {
    text-align: left;
    font-style: italic;
    padding: 10px;
    margin: 10px 20px 10px 20px;
    background: #2c2633;
    color: grey;
    border-left: 1px solid #121212;
    border-bottom: 1px solid #121212;
}