.post {
    display: flex;
    border: 1px solid #2c2633;
    padding: 10px;
    background: #1f1b24;
}

.post .wrapper {
    margin: 0;
    min-width: 0;
    margin-left: 10px;
    width: 100%;
}

.post p {
    min-width: 0;
    color: white;
    text-align: left;
    word-wrap: break-word;
    margin: 0;
    margin-top: 5px;
}

.post .top-portion {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.post .separator {
    margin: 0 5px 0 5px;
    color: gray;
}

.post .date {
    color: gray;
}

.post div .username:before {
    content: "@";
}

.post div .username:hover {
    color: dodgerblue;
    cursor: pointer;
}

.post .bottom-portion {
    width: fit-content;
    margin-top: 6px;
    display: flex;
}

.post .comment-icon {
    margin-left: 10px;
    width: 20px
}

.post .like-counter {
    margin-left: 5px;
}