.post {
    display: flex;
    border: 1px solid #2c2633;
    padding: 10px;
    background: #1f1b24;
}

.post .wrapper {
    min-width: 0;
    margin-left: 10px;
}

.post p {
    min-width: 0;
    color: white;
    text-align: left;
    word-wrap: break-word;
    margin: 0;
    margin-top: 5px;
}

.post .top-portion {
    width: 100%;
    display: flex;
    justify-content: start;
}

.post .seperator {
    margin: 0 5px 0 5px;
    color: gray;
}

.post .date {
    color: gray;
}

.post div .username:before {
    content: "@";
}

.post div .username:hover {
    color: dodgerblue;
    cursor: pointer;
}
