.posts {
    width: 60%;
    margin: 5% auto 0;
    border-radius: 50px;
}

@media screen and (max-width: 768px) {
    .posts {
        width: 80%

    }
}

@media screen and (max-width: 450px) {
    .posts {
        width: 90%

    }
}

@media screen and (max-width: 450px) {
    .posts {
        width: 100%

    }
}