.logins form {
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 8%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: rgb(249 250 251);
}
